<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Relatório
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Relatório</ion-title>
    </ion-toolbar>
  </ion-header>

  <table>
    <tr>
      <th>ID</th>
      <th>Operação</th>
      <th>Info</th>
      <th>Codigo</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>{{ item[0] }}</td>
      <td>{{ item[5] }}</td>
      <td>{{ item[4] }}</td>
      <td>{{ item[3] }}</td>
    </tr>
  </table>
</ion-content>
