<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gerenciar fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gerenciar fotos</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="clickedBarcode()">
        <ion-icon slot="icon-only" name="barcode"></ion-icon>
      </ion-button> -->
    </ion-buttons>

    <!-- <ion-searchbar #inputSearch id="input-prod" type="text" debounce="500" (ionInput)="getItems($event)" placeholder="Digite o código" cancelButtonText="X" [(ngModel)]="codsearch"></ion-searchbar> -->

    <ion-searchbar #inputSearch debounce="500" (ionInput)="getItems($event)" cancelButtonText="X" placeholder="Código do produto" (ionChange)="onSearchChange($event)" [(ngModel)]="codiprod">
    </ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let item of items" >
        <b>[<span  (click)="setProd($event)" style="color: rebeccapurple">{{item}}</span>]</b>
      </ion-item>
    </ion-list> 
  </ion-toolbar>
  <!-- <div *ngIf="prod.flag">
  
      </div> -->

  <div *ngIf="prod.flag; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
  </ng-template>
  <ng-template #elseBlock>
    <div *ngIf="codiprod">
      <ion-chip outline color="danger">
        <ion-label>não encontrado</ion-label>
      </ion-chip>
    </div>
  </ng-template>
  <div *ngIf="prod.flag">
    <form>
      <ion-card style="text-align: center;">
        <ion-badge color="primary">{{prod.desc}}</ion-badge>
        <ion-badge color="primary">{{prod.codifab}}</ion-badge>
        <ion-badge color="primary">{{prod.qtd}} UN</ion-badge>
        <div *ngIf="image.flag">
          <ion-button color="danger" (click)="onSubmit()" expand="block">
            ENVIAR
          </ion-button>
        </div>
      </ion-card>
      <ion-card>
        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-label>#Imagem de capa</ion-label>
          <ion-button (click)="selectfile('capa')">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <span id="input-capa" style="display:none">
            <!-- <input type="file" accept="image/*" onchange="document.getElementById('img-capa').src = window.URL.createObjectURL(this.files[0])"><input> -->
            <input type="file" accept="image/*" (change)="onChangeImage('input-capa', 'img-capa')"><input>
          </span>
        </ion-item>

        <ion-card-content>
          <img id="img-capa" src="{{url}}/instaparts/img.php?CODIPROD={{codiprod}}&IMG=CAPA_IMG" alt="">
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-label>#Imagem 2</ion-label>
          <ion-button (click)="selectfile('img2')">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <span id="input-img2" style="display:none">
            <input type="file" accept="image/*" (change)="onChangeImage('input-img2', 'img-img2')"><input>
          </span>
        </ion-item>
        <ion-card-content>
          <img id="img-img2" src="{{url}}/instaparts/img.php?CODIPROD={{codiprod}}&IMG=IMG2_IMG" alt="">
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-label>#Imagem 3</ion-label>
          <ion-button (click)="selectfile('img3')">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <span id="input-img3" style="display:none">
            <input type="file" accept="image/*" (change)="onChangeImage('input-img3', 'img-img3')"><input>
          </span>
        </ion-item>
        <ion-card-content>
          <img id="img-img3" src="{{url}}/instaparts/img.php?CODIPROD={{codiprod}}&IMG=IMG3_IMG" alt="">
        </ion-card-content>
      </ion-card>
    </form>
    <small>{{result.capa}}</small>
    <br>
    <small>{{result.img2}}</small>
    <br>
    <small>{{result.img3}}</small>
  </div>
</ion-content>