<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informações</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    AVENIDA AUTO PEÇAS LTDA ME
  </ion-card> 
  <ion-card>
    FELIPE BENEVIDES
  </ion-card> 
  <ion-card>
    33b51d1b0636eeae153f {{document.lastModified}}
  </ion-card> 
  <ion-card>
    V1.0
  </ion-card> 
</ion-content>
